.idea/
.DS_Store/
.env

# Cache and logs (Symfony2)
app/back/app/cache/*
app/back/app/logs/*
!app/back/app/cache/.gitkeep
!app/back/app/logs/.gitkeep

# Email spool folder
app/back/app/spool/*

# Cache, session files and logs (Symfony3)
app/back/var/cache/*
app/back/var/logs/*
app/back/var/sessions/*
!app/back/var/cache/.gitkeep
!app/back/var/logs/.gitkeep
!app/back/var/sessions/.gitkeep

# Logs (Symfony4)
app/back/var/log/*
!app/back/var/log/.gitkeep

# Managed by Composer
app/back/app/bootstrap.php.cache
app/back/var/bootstrap.php.cache
app/back/bin/*
!app/back/bin/console
!app/back/bin/symfony_requirements
app/back/vendor/

# Assets and user uploads
app/back/web/bundles/
app/back/web/uploads/

# PHPUnit
app/back/app/phpunit.xml
app/back/phpunit.xml

# Build data
app/back/build/

# Composer PHAR
app/back/composer.phar

# Backup entities generated with doctrine:generate:entities command
app/back/**/Entity/*~

# Embedded web-server pid file
app/back/.web-server-pid
